// Theme Colors

$green: #BCC739;
$dark-green: #649112;

$red: #ED1C24;
$opaque-red: #F68E92;
$dark-pink: #D0337E;
$pink: #F8A4A7;

$yellow: #FFCC53;
$light-yellow: #FFF7EE;

$light-grey: #EEEEEE;
$grey: #C2C2C2;
$mid-grey: #939598;
$dark-grey: #484848;

$blue: #009CDE;
$opaque-blue:rgba(0,156,222,.8);



