// Button Styles




// Button general styles

.button {
		display: inline-block;
		text-align: center;
		// text-transform: uppercase;
		border-radius:3px;
		
		&:hover {
			text-decoration:none;
		}
}




// Button-sizes 

.button-sm {
		@extend .button;
		font-size:14px;
		padding:8px 28px;
}

.button-md {
		@extend .button;
		font-size:16px;
		padding:12px 40px;
		
}

.button-lg {
		@extend .button;
		font-size:22px;
		padding:24px 84px;
}




// Button color styles

.button-green-solid {
				background:$green;
				border:2px solid $green;
				color:white;
				
				&:hover {
						background:$dark-green;
						border:2px solid $dark-green;
						color:white;
				}
}


.button-green-outline {
				background:transparent;
				border:2px solid $green;
				color:$green;
							
				&:hover {
						background:$green;
						border:2px solid $green;
						color:white;
				}
}

.button-white-outline-green {
				background:transparent;
				border:2px solid white;
				color:white;
								
				&:hover {
						background:$green;
						border:2px solid $green;
						color:white;
				}
}


.button-white-outline-red {
				background:transparent;
				border:2px solid white;
				color:white;
				
				&:hover {
						background:white;
						border:2px solid white;
						color:$red;
				}
}




// Breakpoint Styles
		
		@include breakpoint(xs) { // Mobile
			
			
			// Button-sizes 

			.button-sm {
					font-size:14px;
					padding:12px 28px;
			}
			
			.button-md {
					font-size:16px;
					padding:14px 50px;
					
			}
			
			.button-lg {
					font-size:22px;
					padding:24px 60px;
			}

			
	
		  }
				
		@include breakpoint(sm) { // iPad Portrait
				

		  }
		  
		 		
		@include breakpoint(md) { // 992px and up

							
		  } 
		  
		  
	  @include breakpoint(lg) { // 1200px and up
			
				
				
	  }
	  
	  @include breakpoint(xl) { // 1400px and up
			
				
				
	  }
	  
	  // End Breakpoints