// Header Region



header.site-header {	
	background:white url(../images/site-header-bg.png) repeat-x;
	
	.site-branding {
		@include make-xs-column(6);
		@include make-sm-column(3);
		@include make-md-column(4);
		line-height:114px;
		
		img {
			width:100%;
			height:auto;
		}
	}
	
	.site-header-inner {
		height:114px;
		
		.site-navigation {
			@include make-xs-column(6);
			@include make-sm-column(9);
			@include make-md-column(8);
		}
	}
	
	.navbar {
			padding:0;
			margin:0;
			border:0;
			border-radius:0;
			min-height:1px;
			background:transparent;
			
			.caret {
				display:none;
			}
			
			ul.navbar-nav {
				float:none;
				padding:0;
				margin:0;
				text-align: right;
				line-height:114px;
				
				li {
					display:inline;
					float:none;
					margin:0 0 0 2px;
					padding:10px 0 18px 0;
					
					a {
						display:inline-block;
						padding:20px 10px 10px 10px;
						margin:0;
						font-size:14px;
						text-transform: uppercase;
						-webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
						clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
						
						&:hover {
							background:$red;
							border-radius:4px;
							color:white;
						}
					}
					
					&:hover {
						
						a {
							background:$red;
							border-radius:4px;
							color:white;
						}
					}
					
					&.current_page_item {
						a {
							background:$dark-green;
							color:white;
						}
					}
					
					
					ul.dropdown-menu {
						top:44px;
						left:-50%;
						padding:0;
						z-index: 10000;
						border-radius: 5;
						border:0;
						background:$red;
						
						li {
							display:block;
							margin:0;
							padding:0;
							border-bottom:1px solid $opaque-red;
							line-height:1;
							
							&:last-child {
								border:0;
							}
							
							&.active {
								
								a {
									background:transparent;
									color:white;
								}
							}
							
							a {
								display:block;
								text-transform:uppercase;
								padding:10px 12px;
								font-size:12px;
								color:white;
									
									&:hover {
										background:transparent;
									}
							}
							
							ul.dropdown-menu {
								top:-2px;
							}	
						}
					}
								
				}
				
		}
				
			
			
			// Toggle Nav (Mobile Navigation)
			.navbar-toggle {
				position:absolute;
				top:30px;
				right:20px;
				
				margin:0;
				padding-top:0;
				padding-bottom:0;
				
				.icon-bar {
						background:white;
						height:3px;
					}
				}

	}

}


// Hide the nav even if its open from larger devices

.mobile-navigation {
	@extend .hidden-sm;
	@extend .hidden-md;
	@extend .hidden-lg;
}



/* Multi Level dropdown using bootstrap nav walker */

.dropdown-submenu {
	position:relative;
}
	
.dropdown-submenu>.dropdown-menu {
	top:0;
	left:100%;
	-webkit-border-radius:0 6px 6px 6px;
	-moz-border-radius:0 6px 6px 6px;
	border-radius:0 6px 6px 6px;
}

.dropdown-submenu:active>.dropdown-menu,
.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display:block;
	content:" ";
	float:right;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid;
	border-width:5px 0 5px 5px;
	border-left-color:#cccccc;
	margin-top:5px;
	margin-right:-10px;
}

.dropdown-submenu:active>a:after {
	border-left-color:#ffffff;
}
	
.dropdown-submenu.pull-left {
	float:none;
	}

.dropdown-submenu.pull-left>.dropdown-menu {
	left:-100%;
	margin-left:10px;
	-webkit-border-radius:6px 0 6px 6px;
	-moz-border-radius:6px 0 6px 6px;
	border-radius:6px 0 6px 6px;
	}


ul.nav li.dropdown:hover ul.dropdown-menu li.menu-item-has-children ul.dropdown-menu,
ul.nav li.dropdown:hover ul.dropdown-menu li.menu-item-has-children:hover ul.dropdown-menu li.menu-item-has-children ul.dropdown-menu {display:none;}
ul.nav li.dropdown:hover ul.dropdown-menu li.menu-item-has-children:hover ul.dropdown-menu,
ul.nav li.dropdown:hover ul.dropdown-menu li.menu-item-has-children ul.dropdown-menu li.menu-item-has-children:hover ul.dropdown-menu {display:block;}
.dropdown-menu .dropdown-menu {
  left: 100%;
  top: 0;
}



// Homepage Header Banner

#header-banner {
	position: relative;
	height: auto;
	  max-height:764px;
	  overflow: hidden;
	z-index:1;
	
	// Banner Slider {
		
	ul.rslides {
		
		li {
		}
	}
	
	.header-banner-container {
		@extend .container;
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		height:100%;
		z-index:100;
		
		.header-banner-row {
			@include make-row();
			position:relative;
			height:100%;
			
			.header-banner-content {
				position: absolute;
				bottom: 0;
				  left: 0;
				  right: 0;
			}
			
			#header-banner-welcome {
				display:inline-block;
				padding:22px 26px;
				background:$opaque-blue;
				color:white;
				margin-bottom:40px;
				
				h2 {
					margin:0 0 6px 0;
					font-size:26px;
					line-height:1;
				}
				
				p {
					margin:0;
				}
			}
			
			#header-banner-statement {
				text-align:center;
				width:100%;
				margin:0 auto;
				padding:50px 0;
				background:$yellow url(../images/header-statement-bg.png) repeat;
				color:$dark-grey;
				
				
				h2 {
					color:$dark-grey;
					font-size:36px;
					text-transform: uppercase;
					margin-bottom:14px;
					line-height: 1;
				}
				
				.banner-statement-stars {
					  line-height: 0.5;
					  text-align: center;
					  margin-bottom:14px;
					  
					  span {
						  display: inline-block;
						  position: relative;  
						  
						    &:before,
							&:after {
							  content: "";
							  position: absolute;
							  height: 5px;
							  border-bottom: 1px solid $dark-grey;
							  border-top: 1px solid $dark-grey;
							  top: 6px;
							  width: 200px;
							}
							
							&:before {
							  right: 100%;
							  margin-right: 15px;
							}
							
							&:after {
							  left: 100%;
							  margin-left: 15px;
							}
						
						
						}
						
					}
					
				
				
				p {
					font-size:18px;
					max-width:720px;
					margin:0 auto;
				}
			}
		}
	}
}


		

	


// Breakpoint Styles
		
		@include breakpoint(xs) { // Mobile
			
			// Homepage Header Banner

			#header-banner {

				.header-banner-container {
					position:relative;
				
					.header-banner-row {
						
						.header-banner-content {
							position: relative;
						
							#header-banner-welcome {
								display:block;
								position: relative;
								text-align:center;
								margin:0;
								width:100%;
							}
						}
					}
				}
			}

		}
		
		@include breakpoint(sm) { // Desktop
			
			header.site-header {	
				
				.navbar {
						
					// Header Navigation
					
					ul.navbar-nav
	
						li {
							  
									
							a {
								font-size:12px;
								padding: 20px 8px 10px 8px;
							}
									
						}
							
					}
				}
			}
		