// Typography styles

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #F1F1F1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759B;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}



// Body Font

body {

	} 


// Headings

//Sitewide Page Title

.page-header {
	margin:0;
	border:0;
	
	h1.entry-title {
	}
	
}


// General Header Styles

h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	line-height:1.4;
	margin-bottom:10px;
}

h1 {
	font-size:34px;
}

// Content H1's
.entry-content {
	
	h1 {
	}
}

h2 {
	font-size:20px;
	line-height:1.6;
	margin-bottom:20px;
}

h3 {
font-size:16px;
}

h4 {
font-size:14px;
}

// Paragraph styles

p {
	margin-bottom:10px;
	line-height:1.6;
}

// General styles

img {
	
	&.alignleft {
		float:left;
		margin:0 20px 20px 0;
	}
	
	&.alignright {
		float:left;
		margin:0 0 20px 20px;
	}
}

// Links

a {
	text-decoration: none;
	
	&:hover {
		text-decoration: none;
	}

}



// Content List styles
.entry-content {
	
	ul {
	
	li {
		
		&:last-child {
			}
		}
			
	}


	ol {
		margin:0 0 20px 20px;
		
		li {
			list-style-type: decimal;
			margin-bottom:14px;
			line-height:1.8;
		}
	}

}





// Breakpoint Styles
		
		@include breakpoint(xs) { // Mobile
			
							

		  }
				
		@include breakpoint(sm) { // iPad Portrait



		  }
		  
		 		
		@include breakpoint(md) { // 992px and up

					
					
		  } 
		  
		  
		  @include breakpoint(lg) { // 1200px and up
				
					
					
		  }
		  
		  @include breakpoint(xl) { // 1400px and up
				
					
					
		  }
		  
		  // End Breakpoints