// Footer Styles

body.home { // Homepage Footer Styles
	

}

footer.site-footer {
	color:white;
	
	a {
		color:white;
	}
	
	.footer-top {
		padding:30px 0;
		background:rgba(0,0,0,0.8);
        
		.footer-top-container {
			@extend .container;
			
			.footer-top-row {
				@include make-row();
				
				.footer-top-block {
                    @include make-xs-column(12);
					@include make-sm-column(6);
					@include make-md-column(3);
                    
                    .footer-top-block-inner {
                        text-align: center; 
                        border: 1px solid white;
                        padding: 12px 0; 
                        min-height: 112px;
                        text-transform: uppercase;
                        font-size: 13px;
                        font-weight: bold;
                        
                        .footer-block-img {
                            background-position: center ;
                            background-repeat: no-repeat;
                            min-height: 70px;
                        }
                     }
				}
			}
		}
	}
	
	.footer-bottom {
		background:#491315;
		
        
        h3 {
            font-size: 16px;
            font-weight: bold;
            margin-bottom:5px;
        }
        
		.footer-statement {
            padding: 40px 0 0 0;
            h2 {
                @include make-xs-column(12);
                margin: 0;
                font-size: 26px;
            }
        }
            
		.footer-bottom-container {
			@extend .container;			
            background:  url("../images/letter-g.png") no-repeat right top;
			
			.footer-contact-infor  {
				padding: 40px 0 20px;
			}
			.footer-bottom-row {
				@include make-row();
				.footer-address {
					@include make-xs-column(12);
					@include make-sm-column(6);
					@include make-md-column(3);
				}
				
				.footer-hours {
					@include make-xs-column(12);
					@include make-sm-column(6);
					@include make-md-column(3);
				}
			
				
				.footer-copyright {
					@include make-xs-column(12);
				}	
			}
		}
	}

	
	
}






// Breakpoint Styles
		
		@include breakpoint(xs) {
            .footer-top-block {
                margin:10px 0;
            }
            footer.site-footer .footer-bottom .footer-bottom-container {
				background: none;
			}
			footer.site-footer .footer-bottom .footer-statement {
               display: none;
            } 
        }
				
		@include breakpoint(sm) {
            .footer-top-block {
                margin:10px 0;
            }
			footer.site-footer .footer-bottom .footer-bottom-container {
				background: none;
			}
        }
		  