// Footer Styles

body.home { // Homepage Footer Styles
	

}

footer.site-footer {
	color:white;
	
	a {
		color:white;
	}
	
	.footer-top {
		
		.footer-top-container {
			@extend .container;
			
			.footer-top-row {
				@include make-row();
			}
		}
	}
	
	.footer-bottom {
		border-top:10px solid #660E15;
		background:#491315;
		
		.footer-statement {
			background:#3F0F13;
			
			.footer-statement-container {
				@extend .container;
				
				.footer-statement-row {
					@include make-row();
				}
			}	
		}
		
		.footer-bottom-container {
			@extend .container;
			
			.footer-bottom-row {
				@include make-row();
			}
		}
	}

	
	.footer-statement {
		@include make-xs-column(12);
		
		h2 {
		}
	}
	
	.footer-top-block {
		@include make-xs-column(12);
		@include make-sm-column(6);
		@include make-md-column(3);
	}
		
	
	.footer-address {
		@include make-xs-column(12);
		@include make-sm-column(6);
		@include make-md-column(3);
	}
	
	.footer-hours {
		@include make-xs-column(12);
		@include make-sm-column(6);
		@include make-md-column(3);
	}

	
	.footer-copyright {
		@include make-xs-column(12);
	}
}






// Breakpoint Styles
		
		@include breakpoint(xs) {}
				
		@include breakpoint(sm) {}
		  