// Header Region



header.site-header {
	height:300px;
	
	.header-container {
		@extend .container;
	}	
	
	.header-row {
		@include make-row();
	}
	
	.site-branding {
		@include make-xs-column(6);
		@include make-sm-column(3);
		
		img {
			width:100%;
			height:auto;
			max-width:224px;
		}
	}
	
	.site-header-inner {
		
		.site-navigation {
			@include make-xs-column(6);
			@include make-sm-column(9);
			@include make-md-column(8);
		}
	}
	
	.navbar {
			padding:0;
			margin:0;
			border:0;
			border-radius:0;
			min-height:1px;
			background:transparent;
			
			.caret {
				display:none;
			}
			
			ul.navbar-nav {
				float:none;
				padding:0;
				margin:0;
				text-align: right;
				
				li {
					display:inline;
					float:none;
					margin:0;
					padding:0;
					
					a {
						display:inline;
						padding:0;
						margin:0;
						font-size:12px;
						text-transform: uppercase;
						
						&:hover {
						}
					}
					
					&:hover {
						
						a {

						}
					}
					
					&.current_page_item {
						
						a {

						}
					}
					
					
					ul.dropdown-menu {
						padding:0;
						border:0;
						background:#ccc;
						
						li {
							display:block;
							margin:0;
							padding:0;
							line-height:1;
							
							&:last-child {
								border:0;
							}
							
							&.active {
								
								a {
									background:transparent;
									color:white;
								}
							}
							
							a {
								display:block;
								text-transform:uppercase;
								padding:10px 12px;
								font-size:12px;
								color:white;
									
									&:hover {
										background:transparent;
									}
							}
							
							ul.dropdown-menu {
								top:-2px;
							}	
						}
					}
								
				}
				
		}
				
			
			
	// Toggle Nav (Mobile Navigation)
	.navbar-toggle {
		position:absolute;
		top:30px;
		right:20px;
		
		margin:0;
		padding-top:0;
		padding-bottom:0;
		
		.icon-bar {
				background:white;
				height:3px;
			}
		}

	}

}


// Hide the nav even if its open from larger devices

.mobile-navigation {
	@extend .hidden-sm;
	@extend .hidden-md;
	@extend .hidden-lg;
}



/* Multi Level dropdown using bootstrap nav walker */

.dropdown-submenu {
	position:relative;
}
	
.dropdown-submenu>.dropdown-menu {
	top:0;
	left:100%;
	-webkit-border-radius:0 6px 6px 6px;
	-moz-border-radius:0 6px 6px 6px;
	border-radius:0 6px 6px 6px;
}

.dropdown-submenu:active>.dropdown-menu,
.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display:block;
	content:" ";
	float:right;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid;
	border-width:5px 0 5px 5px;
	border-left-color:#cccccc;
	margin-top:5px;
	margin-right:-10px;
}

.dropdown-submenu:active>a:after {
	border-left-color:#ffffff;
}
	
.dropdown-submenu.pull-left {
	float:none;
	}

.dropdown-submenu.pull-left>.dropdown-menu {
	left:-100%;
	margin-left:10px;
	-webkit-border-radius:6px 0 6px 6px;
	-moz-border-radius:6px 0 6px 6px;
	border-radius:6px 0 6px 6px;
	}


ul.nav li.dropdown:hover ul.dropdown-menu li.menu-item-has-children ul.dropdown-menu,
ul.nav li.dropdown:hover ul.dropdown-menu li.menu-item-has-children:hover ul.dropdown-menu li.menu-item-has-children ul.dropdown-menu {display:none;}
ul.nav li.dropdown:hover ul.dropdown-menu li.menu-item-has-children:hover ul.dropdown-menu,
ul.nav li.dropdown:hover ul.dropdown-menu li.menu-item-has-children ul.dropdown-menu li.menu-item-has-children:hover ul.dropdown-menu {display:block;}
.dropdown-menu .dropdown-menu {
  left: 100%;
  top: 0;
}



// Homepage Header Banner

#header-banner {
	position: relative;
	
	// Banner Slider {
		
	ul.rslides {
		
		li {
		}
	}
}


// Header Title Styles

.header-title {
	background:rgba(73,19,21,.5);
	
	.header-title-container {
		@extend .container;
		
		.header-title-row {
			@include make-row();
			
			h1 {
				@include make-xs-column(12);
				color:white;
			}
		}
	}
}
		

	


// Breakpoint Styles
		
		@include breakpoint(xs) {}
		
		@include breakpoint(sm) {}
		